<library path="lib/librqt_image_view_custom">
  <class name="rqt_image_view_custom/ImageView0" type="rqt_image_view_custom::ImageView0" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to view a sensor_msgs/Image topic.
    </description>
    <qtgui>
      <label>rqt test</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to view a sensor_msgs/Image topic.</statustip>
    </qtgui>
  </class>
</library>
