<?xml version="1.0"?>

<!-- Don't forget to install joystick drivers first!
   See: http://wiki.ros.org/joy/Tutorials/ConfiguringALinuxJoystick -->

<launch>
  <!-- if this doesn't work, check which input device the joystick is: /dev/input/jsX, where X is the number of the device -->
  <!-- But seems to be 0 most of the times -->
  <param name="joy_node/dev" value="/dev/input/js0" />
  <param name="joy_node/autorepeat_rate" value="33000"/>	
  <node name="controller_node" pkg="joy" type="joy_node" output="screen" />
	

</launch>
